.title{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
}

.align{
    width: 100%;
    height: auto;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centralization{
    width: 60%;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    background-color: #313438;
    border-radius: 20px;
    margin-bottom: 50px;
}

.box{
    width: 220px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: #99aab5 2px solid;
}