.title{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -35px;
}

.align{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

.container{
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #313438;
    margin-bottom: 30px;
    border-radius: 20px;
}

.box{
    width: 220px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: #99aab5 2px solid;
}

.nome{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: inline-block;
    margin-top: 5px;
}
.preco{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.variacao{
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    width: 65px;
}
.negativo{
    background-color: #ff0000;
}
.positivo{
    background-color: #00cc00;
}
.neutro{
    background-color: #585858;
}