body{
    background-color: #011F4B;
    margin: 0;
    color: white;
    text-align: center;
}

.title{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 15%;
    margin-bottom: 20px;
}

.container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: #03396C;
}

.box{
    width: 220px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border: black 1px solid;
}

.nome{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: inline-block;
    margin-top: 5px;
}
.preco{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.variacao{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}
.negativo{
    display: inline-block;
    width: 65px;
    background-color: #ff0000;
}
.positivo{
    display: inline-block;
    width: 65px;
    background-color: #00cc00;
}