<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <link rel="stylesheet" href="{{ url_for='static' , filename='nav-style.css'}}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="list">
                <a href="/moedas" class="list-link"><li class="list-elements">moedas</li></a>
                <a href="/bitcoin" class="list-link"><li class="list-elements">bitcoins</li></a>
            </ul>
        </nav>
    </header>
</body>
</html>