<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Link da fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static' , filename='style.css')}}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">cotação da principais moedas para o real</h1>
    <section class="container">
        
        {% for itens in list_moedas %}
            <div class="box">
                {% if (itens.variacao < 0) %}
                    <label class="variacao negativo">{{itens.variacao}}%</label>
                {% elif (itens.variacao > 0) %}
                    <label class="variacao positivo">{{itens.variacao}}%    </label>
                {% endif %}
                <br>
                <label class="preco">R$ {{itens.preco}}</label><br>
                <label class="nome">{{itens.nome}}</label>
            </div>
        {% endfor %}
    </section>
</body>
</html>